In [4]:
import pandas as pd

#working with possible errors using pandas

In [3]:
pd.read_csv('ath_2008.csv')

                Athlete  Gold  Silver  Bronze
0      ABAKUMOVA, Maria     0       1       0
1    ABEYLEGESSE, Elvan     0       2       0
2    ALEKNA, Virgilijus     0       0       1
3        ALEXEEV, Denis     0       0       1
4       ANTONOVA, Olena     0       0       1
..                  ...   ...     ...     ...
154      WINEBERG, Mary     1       0       0
155  YEGO, Alfred Kirwa     0       0       1
156    YURCHENKO, Denys     0       0       1
157       ZHANG, Wenxiu     0       0       1
158       ZHOU, Chunxiu     0       0       1

[159 rows x 4 columns]

In [5]:
my_dict = {"Phelps, Michael" : 22,
           "Latynina, Larisa" : 18, 
           "Andrianov, Nikolay" : 15,
           "Mangiarotti, Edoardo" : 13, 
           "Ono, Takashi" : "13"
          }

In [6]:
my_dict

{'Phelps, Michael': 22,
 'Latynina, Larisa': 18,
 'Andrianov, Nikolay': 15,
 'Mangiarotti, Edoardo': 13,
 'Ono, Takashi': '13'}

In [9]:
# how many medals does Michael Phelps have won?
my_dict["Phelps, Micheal"]

KeyError: 'Phelps, Micheal'

In [10]:
my_dict["Phelps, Michael"]

22

In [13]:
int(my_dict["Ono, Takashi"])

13

In [24]:
my_dict["Phelps, Michael"] + int(my_dict["Ono, Takashi"])

35

In [5]:
df = pd.DataFrame({'A': [1, 2, None, 4, 5], 'B': [None, 2, 3, None, 5]})

# Check for missing values
print(df.isnull().sum())

A    1
B    2
dtype: int64

In [6]:
print(df.dtypes)

A    float64
B    float64
dtype: object

In [7]:
print(df.duplicated())

# Drop duplicate rows
df.drop_duplicates(inplace=True)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [9]:
df.fillna(0, inplace=True)

# Convert data types
df['A'] = df['A'].astype(int)

In [10]:
df

   A    B
0  1  0.0
1  2  2.0
2  0  3.0
3  4  0.0
4  5  5.0

In [16]:
df['B'] = df['B'].apply(lambda x: x * 2 if x is not None else x)

In [12]:
df

   A     B
0  1   0.0
1  2   4.0
2  0   6.0
3  4   0.0
4  5  10.0

In [17]:
df['A'] = df['A'].apply(lambda x: x * 0.5 if x is not None else x)

In [18]:
df

     A     B
0  0.5   0.0
1  1.0   8.0
2  0.0  12.0
3  2.0   0.0
4  2.5  20.0

In [19]:


# Create a sample DataFrame
data = {
    'A': [10, 20, None, 30, 40],
    'B': [1, 2, 3, 4, 5]
}
df = pd.DataFrame(data)

# Define a function for data validation
def validate_data(x):
    if x is not None:
        return x * 0.5  
    else:
        return x

df['A'] = df['A'].apply(validate_data)

print(df)

      A  B
0   5.0  1
1  10.0  2
2   NaN  3
3  15.0  4
4  20.0  5

In [20]:
def validate_data(x):
    print("Value of x:", x)
    if x is not None:
        return x * 0.5
    else:
        return x

df['A'] = df['A'].apply(validate_data)

Value of x: 5.0
Value of x: 10.0
Value of x: nan
Value of x: 15.0
Value of x: 20.0